.form-row .value {
    width: -webkit-calc(100% - 0px) !important;
    width: -moz-calc(100% - 0px) !important;
    width: calc(100% - 0px) !important;
}

.form-row .name{
    width: 100% !important;
    margin-bottom: 5px !important;
}

.tacbox {
    display:block;
    padding: 1em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
}

@media only screen and (max-width:768px) {
    .wrapper{
        margin: 0px 20px 0px 20px !important;
    }
    .logo{
        width:210px !important;
    }
    .mobile-only{
        display:block !important;
    }
    .form-row{
        margin-bottom:30px !important;
    }
}

.bg-gra-03{
    background: #07063d url('/images/bg-hero.png') !important;
}

.label--desc {
    left: 20px !important;
}

.sub-desc{
    left: 20px !important;
}